<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('partials/head',{title : 'Home'})%>
<body>
    <!-- Navbar -->
    <%- include('partials/navbar')%>

    <h1 style="text-align: center;">welcome to home page mangakuy</h1>
    <h3 style="text-align: center;">mangakuy adalah aplikasi toko buku komik terbesar di hacktiv 8
    </h3>

    <!-- Script js -->
    <%- include('partials/script')%>
</body>
</html>